@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.subpage-heading {
  position: relative;
  padding: 4rem 0;
  color: #efefef;
  z-index: 2;
}
.subpage-heading::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(32, 83, 117, 0.7), rgba(32, 83, 117, 0.7)), url("/static/img/squareslg.jpg");
  background-size: cover;
  background-position: top;
  z-index: -1;
}
.subpage-heading h1 {
  line-height: 1.6;
}
.subpage-heading h1::first-letter {
  display: inline-block;
  margin-right: 3px;
  color: #F66B0E;
  background-color: rgba(32, 83, 117, 0.5);
  font-size: 165%;
  border: 6px solid #efefef;
  border-radius: 10px;
  padding: 0 0.2em;
}

.block-text {
  padding-top: 2rem;
}

.first-letter {
  color: #F66B0E;
}

@media screen and (max-width: 62em) {
  .subpage-heading::before {
    background-image: linear-gradient(rgba(32, 83, 117, 0.7), rgba(32, 83, 117, 0.7)), url("/static/img/squaressm.jpg");
    background-position: bottom;
  }
}
@media screen and (max-width: 48em) {
  .main {
    align-items: center;
  }
  .subpage-heading {
    padding: 3rem 0;
  }
  .subpage-heading h1::first-letter {
    font-size: 130%;
  }
}
@media screen and (max-width: 37.5em) {
  .subpage-heading {
    padding: 2rem 0;
  }
}
.heading-primary {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  line-height: 1.3;
}

.heading-secondary {
  margin-bottom: 2rem;
}

.heading-center-md {
  text-align: left;
}

@media screen and (max-width: 48em) {
  .heading-center-md {
    text-align: center;
  }
}
@media screen and (max-width: 25em) {
  .heading-primary,
  .heading-secondary {
    overflow-wrap: anywhere;
  }
}
.screenReaderOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mtb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bold {
  font-weight: bold;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper-md {
  padding: 0 100px;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 62em) {
  .wrapper-md {
    padding: 0 50px;
  }
}
@media screen and (max-width: 48em) {
  .wrapper-md {
    padding: 0 20px;
  }
}
@media screen and (max-width: 31.25em) {
  .wrapper-md {
    padding: 0 10px;
  }
}
@keyframes hover-shadow {
  from {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
  }
  to {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
  }
}
@keyframes no-shadow {
  from {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
  }
  to {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: translateY(0);
  }
}
.in {
  animation: hover-shadow 0.5s forwards;
}

.out {
  animation: no-shadow 0.5s forwards;
}

.breadcrumb {
  margin: 0.5rem 0 2rem;
}
.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}
.breadcrumb__list-item {
  color: #205375;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}
.breadcrumb__list-item:hover {
  text-decoration: underline;
}
.breadcrumb__list-item--active {
  color: rgba(0, 0, 0, 0.9);
  font-weight: normal;
  font-size: 1.5rem;
}
.breadcrumb__list-item--active:hover {
  text-decoration: none;
}
.breadcrumb__list li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.5rem;
  content: "▶";
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  color: #f3a26b;
}

.posts {
  padding: 3em 0.5em;
  display: flex;
  justify-content: center;
}
.posts__box-heading {
  padding: 2em 0.75em 0.5em;
}
.posts__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: 40px;
  justify-items: center;
  padding: 3rem 2rem 0;
}
.posts__main {
  position: relative;
}
.posts__main a {
  text-decoration: none;
}
.posts__main--primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 3rem 0 3rem;
  gap: 20px;
}
.posts__main--secondary {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 500px;
  margin: 3rem 0 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.posts__main-img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.posts__main-img--primary {
  flex: 0 1 550px;
  height: 400px;
}
.posts__main-img--secondary {
  width: 100%;
  height: 100%;
}
.posts__main-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.posts__main-box--primary {
  flex: 0 1 550px;
}
.posts__main-box--secondary {
  max-width: 600px;
  padding: 1em;
  height: 100%;
}
.posts__main-box ul,
.posts__main-box ol {
  padding-left: 1.5rem;
  margin-bottom: 1em;
}
.posts__main-box p {
  margin-bottom: 1em;
}
.posts__main-link {
  display: inline-block;
  margin-left: auto;
  margin-top: auto;
  height: -moz-min-content;
  height: min-content;
  padding: 0.25em 1em;
  border-radius: 20px;
  text-decoration: none;
  text-align: right;
  color: #205375;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: 0px 0px 3px #205375;
  transition: background-color 0.5s;
}
.posts__main-link:hover, .posts__main-link:focus {
  background-color: #efefef;
}
.posts__main-heading {
  font-weight: 700;
  margin: 0.5em 0 1em;
  overflow-wrap: anywhere;
}
.posts__main-heading--primary {
  font-size: 2.2rem;
}
.posts__main-heading--secondary {
  font-size: 2.1rem;
}
.posts__main-text {
  margin-bottom: 1em;
}
.posts__main-category {
  align-self: flex-start;
  padding: 0.25em 1em;
  margin-bottom: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.posts__main-category--0 {
  background-color: #EFDAE0;
  color: #914F4C;
}
.posts__main-category--1 {
  background-color: #DDE6ED;
  color: #465F73;
}
.posts__main-category--2 {
  background-color: #E9FDDF;
  color: #088251;
}
.posts__main-category--3 {
  background-color: #F5CFAE;
  color: #8A4C09;
}
.posts__main-category--4 {
  background-color: #E3CAA5;
  color: #603601;
}
.posts__main-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  color: rgb(102, 94, 94);
}
.posts__main-details--date {
  display: inline-block;
  padding: 0.25em 1em;
  background-color: rgba(255, 255, 255, 0.9);
}
.posts__categories {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin: 3rem 0 0;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.posts__categories-list {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
  list-style: none;
}
.posts__categories-link {
  margin-top: 0.5em;
  margin-left: 1em;
  color: #205375;
  text-decoration: none;
  text-align: right;
  border-radius: 20px;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s, transform 0.3s;
}
.posts__categories-link:hover, .posts__categories-link:focus, .posts__categories-link:active {
  box-shadow: 0px 0px 3px #205375;
}
.posts__categories-link--active {
  background-color: #205375;
  color: white;
}
.posts__categories-category {
  display: inline-block;
  height: -moz-min-content;
  height: min-content;
  padding: 0.25em 0.75em;
  font-weight: bold;
}
.posts__categories-category--filter {
  grid-column: 1/2;
  margin-top: 0.5em;
  color: black;
}
.posts__linktoall {
  display: flex;
  justify-content: center;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0.25em 0.5em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: 3em;
  color: #205375;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}
.posts__linktoall span {
  display: inline-block;
}
.posts__linktoall:hover, .posts__linktoall:focus, .posts__linktoall:active, .posts__linktoall--active {
  box-shadow: 0px 0px 3px #205375;
}

.img-wrapper {
  flex: 0 0 30rem;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 62em) {
  .posts {
    padding: 0 0 1em;
  }
  .posts__list {
    justify-content: flex-end;
  }
  .posts__main--primary {
    margin: 5rem 0 2rem;
  }
  .posts__main--secondary {
    margin: 2rem 0;
  }
  .posts__categories-list {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 48em) {
  .posts__cards {
    gap: 30px;
  }
}
@media screen and (max-width: 37.5em) {
  .posts__cards {
    padding: 2rem 0;
  }
  .posts__main--primary {
    padding: 0 10px;
  }
  .posts__categories-link {
    margin-left: 0.25em;
  }
  .posts__categories-link--gallery {
    margin-left: 0.25em;
  }
}
@media screen and (max-width: 31.25em) {
  .posts__cards {
    grid-template-columns: auto;
  }
  .posts__main--secondary {
    margin: 2rem 1rem 0;
  }
  .posts__linktoall {
    margin-right: 0.5em;
  }
  .posts__linktoall span {
    padding-right: 0.5em;
    text-align: right;
  }
}
@media screen and (max-width: 25em) {
  .posts__box-heading {
    padding: 2em 0.5rem 0.5em;
  }
  .posts__main {
    position: relative;
  }
  .posts__main--primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .posts__main--secondary {
    width: 90vw;
  }
  .posts__main-box--secondary {
    padding: 1.5em 0.75em;
  }
  .posts__categories {
    padding-left: 0;
  }
}
.events {
  background-color: #efefef;
  padding: 2em 1em;
  width: 100%;
}
.events__timeline {
  margin-top: 4rem;
  border-top: 3px solid rgba(17, 43, 60, 0.3);
}
.events__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.event {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 2em 1em 0 1em;
  margin-right: 0;
}
.event::before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed rgba(17, 43, 60, 0.3);
  top: 0;
}
.event__details-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2.5rem;
}
.event__details-square {
  min-width: 65px;
  padding: 0.2em 0.6em;
  margin: 0 0.5em 0.3em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.event__details-date {
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 1rem;
  padding: 0.3em 0.6em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-weight: bold;
}
.event__details-date--end {
  color: black;
  margin: 0 0.5em 0.3em;
}
.event__details-hour {
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
}
.event__details-text {
  margin-top: 0.25em;
}

@media screen and (max-width: 62em) {
  .events__timeline {
    margin-top: 2rem;
  }
  .events__list {
    flex-direction: column;
  }
  .event {
    display: block;
    padding: 70px 0 0 0;
  }
  .event__details-item {
    flex-direction: row;
    margin: 1rem 0 1.5rem;
  }
  .event__details-date {
    top: 38px;
  }
}
.bg-soft-warning {
  background-color: #f3a26b;
}

@media screen and (max-width: 25em) {
  .events {
    padding: 2em 0.5rem;
  }
}
.table {
  margin: 2rem 0 1rem;
}

div[tabindex="0"][aria-labelledby][role=region] {
  overflow: auto;
  scroll-snap-type: both mandatory;
  max-width: 90vw;
}

div[tabindex="0"][aria-labelledby][role=region]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}

div[tabindex="0"][aria-labelledby][role=region] table {
  margin: 0;
}

div[tabindex="0"][aria-labelledby][role=region].colheaders {
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100% 4em, 100% 4em, 100% 1.4em, 100% 1.4em;
  background-attachment: local, local, scroll, scroll;
}

.tb-block {
  max-width: 100vw;
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-collapse: collapse;
  font-weight: normal;
  font-size: 1.6rem;
  table-layout: auto;
  width: 100%;
  overflow: scroll;
}

.caption-block {
  text-align: left;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}

.th-block {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #efefef;
}

.th-block,
.td-block {
  border: 1px solid #777;
  padding: 0.75rem 1.5rem;
  text-align: left;
  vertical-align: top;
}

.richtext-image {
  max-width: 100%;
  height: auto;
  margin: 0.5rem 0;
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 48em) {
  .tb-block {
    font-size: 1.6rem;
  }
  .th-block,
  .td-block {
    padding: 0.75rem 0.75rem;
  }
}
@media screen and (max-width: 37.5em) {
  .th-block,
  .td-block {
    padding: 0.5rem 0.5rem;
  }
}
.pagination {
  margin: 2rem 0 1rem;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.pagination__item-link {
  text-decoration: none;
  border: 1px solid #efefef;
  color: black;
}
.pagination__item span {
  display: inline-block;
  padding: 10px 14px;
  color: inherit;
}
.pagination__item .active {
  background-color: rgba(246, 107, 14, 0.8);
  border: 1px solid rgba(246, 107, 14, 0.8);
}

.menu-button-actions {
  margin: 0;
  padding: 0;
  z-index: 5;
}

.menu-button-actions button {
  margin: 0;
  padding: 6px 12px;
  display: inline-block;
  position: relative;
  background-color: #efefef;
  border: 1px solid rgba(32, 83, 117, 0.5);
  font-size: 1.6rem;
  border-radius: 5px;
}

.menu-button-actions [role=menu] {
  display: none;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 7px 4px;
  border-radius: 5px;
  background-color: #efefef;
}

.menu-button-actions [role=menuitem] {
  margin: 0;
  padding: 6px 12px;
  display: block;
  width: 100%;
  background-color: #efefef;
  color: black;
  border-radius: 5px;
  border: 2px solid transparent;
}

.menu-button-actions button svg.down {
  padding-left: 0.125em;
  fill: currentcolor;
  stroke: currentcolor;
}

.menu-button-actions button[aria-expanded=true] svg.down {
  transform: rotate(180deg);
}

/* focus styling */
.menu-button-actions button:hover,
.menu-button-actions button:focus,
.menu-button-actions button[aria-expanded=true] {
  padding: 4px 10px;
  border: 3px solid rgb(32, 83, 117);
  background: #efefef;
  color: #222;
  outline: none;
  margin: 0;
}

.menu-button-actions [role=menuitem].focus,
.menu-button-actions [role=menuitem]:focus {
  padding: 6px 12px;
  border: 2px solid rgb(32, 83, 117);
  background: rgba(246, 107, 14, 0.8);
  outline: none;
  margin: 0;
}

.select {
  position: relative;
}
.select__list-link {
  display: inline-block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.nav {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}
.nav__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}
.nav__list {
  display: inline-flex;
  list-style: none;
}
.nav__list-item {
  position: relative;
  display: block;
  height: 90px;
  margin: auto 0;
}
.nav__list-icon {
  pointer-events: none;
}
.nav__list-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1em;
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  border-top: 5px solid transparent;
  transition: background-color 0.3s, border-top-color 0.3s;
}
.nav__list-link:hover, .nav__list-link:focus {
  background-color: #EFEFEF;
  border-top-color: rgb(32, 83, 117);
}
.nav__btn {
  border-left: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  font-family: "Martel Sans", sans-serif;
  background-color: inherit;
}
.nav__dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 85px;
  width: -moz-max-content;
  width: max-content;
  max-width: 100vw;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 10;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.nav__dropdown-link {
  display: inline-block;
  padding: 0.75em;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}
.nav__dropdown-link:hover, .nav__dropdown-link:focus {
  background-color: rgba(246, 107, 14, 0.8);
}

.nav__search {
  display: flex;
  width: 30rem;
  margin-left: auto;
  margin-right: 1em;
  padding: 0.5em 0 0.5em 0;
}
.nav__search-input, .nav__search-btn {
  border: 2px solid black;
  font-size: inherit;
}
.nav__search-input {
  flex-grow: 2;
  width: 50vw;
  padding: 0.25em 0.5em 0.25em 0.75em;
  border-radius: 15px 0 0 15px;
  font-family: "Martel Sans", sans-serif;
}
.nav__search-input:focus {
  border: 2px solid rgb(32, 83, 117);
  background-color: #EFEFEF;
}
.nav__search-btn {
  padding: 0.1em 0.5em 0.1em 0.25em;
  background-color: black;
  border-left: 2px solid transparent;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}
.nav__search-btn:hover, .nav__search-btn:focus {
  background-color: rgb(32, 83, 117);
  border: 2px solid rgb(32, 83, 117);
}
.nav__search-btn:active img {
  transform: scale(0.9);
}

.hamburger {
  display: none;
}

.show {
  display: flex;
  opacity: 1;
  max-height: -moz-min-content;
  max-height: min-content;
}

@media screen and (max-width: 62em) {
  .hamburger {
    display: block;
    position: relative;
    margin-right: 1rem;
    padding-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    opacity: 1;
    z-index: 500;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    z-index: 500;
  }
  .hamburger-text {
    display: block;
    color: black;
    width: 6rem;
  }
  .nav {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    max-width: 100%;
    min-height: 6.6rem;
  }
  .nav__wrapper {
    max-width: 100vw;
  }
  .nav__search {
    width: -moz-min-content;
    width: min-content;
    max-width: 300px;
    margin-right: 0.5em;
    margin: 0 auto;
  }
  .nav__list {
    display: none;
    align-items: stretch;
  }
  .nav__list--active {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: none;
    margin-top: 6.4rem;
    padding: 0;
    padding-bottom: 9rem;
    padding-top: 3.5rem;
    text-align: center;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    z-index: 9;
  }
  .nav__list-link {
    width: -moz-max-content;
    width: max-content;
    min-width: 320px;
    height: auto;
    padding: 1em;
    line-height: 1;
    border-top: none;
    border-left: 5px solid transparent;
    transition: border-left-color 0.3s;
  }
  .nav__list-link:hover, .nav__list-link:focus, .nav__list-link:active {
    border-left-color: rgb(32, 83, 117);
  }
  .nav__list-item {
    height: -moz-min-content;
    height: min-content;
    padding: 0 0.5em;
    margin: 0;
  }
  .nav__dropdown {
    position: static;
    display: block;
    opacity: 1;
    width: -moz-max-content;
    width: max-content;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
  .nav__dropdown-link {
    box-shadow: none;
    min-width: 320px;
  }
}
.header {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  min-height: 50vh;
  width: 100%;
  padding: 1em 0;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(25, 64, 91, 0.55), rgba(25, 64, 91, 0.55)), url("/static/img/szkola1lgm.jpg");
  background-size: cover;
  background-position: center;
}
.header__text {
  position: relative;
  z-index: 3;
  padding: 2rem 3rem;
  text-align: center;
}
.header__text h1 {
  font-size: 5.5rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  color: white;
}
.header__icon {
  position: absolute;
  opacity: 1;
  z-index: 2;
}
.header__icon--book {
  right: 10%;
  top: 10%;
  width: 90px;
  rotate: 30deg;
}
.header__icon--abacus {
  right: 45%;
  top: 4%;
  width: 100px;
  rotate: -35deg;
}
.header__icon--pencil {
  left: 3%;
  bottom: 5%;
  width: 100px;
  rotate: 0deg;
}
.header__icon--ball {
  left: 10%;
  top: 5%;
  width: 100px;
}
.header__icon--backpack {
  right: 15%;
  bottom: 1%;
  width: 120px;
  rotate: 20deg;
}
.header__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 10rem;
  margin-top: -40px;
  z-index: 5;
}
.header__links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5em 1em;
  width: 300px;
  padding: 1em;
  font-size: 2rem;
  font-weight: bold;
  background-color: #EFEFEF;
  color: #112B3C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  text-decoration: none;
  text-align: center;
  transition: transform 0.5s;
}
.header__links-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.header__links-link img {
  height: 3.5rem;
  padding: 0 1em 0 0;
  margin-bottom: 0.3em;
}

@media screen and (max-width: 62em) {
  .header::before {
    background-image: linear-gradient(rgba(25, 64, 91, 0.55), rgba(25, 64, 91, 0.55)), url("/static/img/szkola1sm.jpg");
  }
}
@media screen and (max-width: 48em) {
  .header__text {
    padding: 1rem;
    overflow-wrap: anywhere;
  }
  .header__text h1 {
    font-size: 4.4rem;
  }
}
@media screen and (max-width: 31.25em) {
  .header__text {
    margin-top: -20px;
  }
  .header__text h1 {
    font-size: 4rem;
  }
  .header__links {
    margin-top: -40px;
  }
  .header__links-link {
    margin: 0.5em 0;
  }
  .header__links-link img {
    padding: 0 0.5em;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
}
.footer__upper {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2em;
  margin-top: 4rem;
  background-color: transparent;
  color: white;
}
.footer__upper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(32, 83, 117, 0.7), rgba(32, 83, 117, 0.7)), url("/static/img/squareslg.jpg");
  background-size: cover;
  z-index: -2;
}
.footer__upper-contact {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
}
.footer__upper-contact--phone, .footer__upper-contact--mail {
  display: flex;
  margin-top: 0.5em;
  overflow-wrap: anywhere;
}
.footer__upper-contact--phone img, .footer__upper-contact--mail img {
  margin-right: 0.5em;
  width: 24px;
  height: 24px;
}
.footer__upper-contact::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 83, 117, 0.9);
  z-index: -1;
}
.footer__upper-links {
  position: relative;
  padding: 1em;
}
.footer__upper-links::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32, 83, 117, 0.9);
  z-index: -1;
}
.footer__upper-links .bip-box {
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto 1em;
  background-color: white;
  border-radius: 5px;
}
.footer__upper-links a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.footer__upper-links a img {
  display: inline-block;
  margin-left: 1em;
}
.footer__upper-links a .bip {
  height: 4rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: -moz-min-content;
  height: min-content;
  padding: 1em;
  font-size: 1.5rem;
  background-color: white;
  color: black;
}
.footer__bottom p {
  margin-top: 0.5em;
  text-align: center;
}

@media screen and (max-width: 62em) {
  .footer__upper::before {
    background-image: linear-gradient(rgba(32, 83, 117, 0.7), rgba(32, 83, 117, 0.7)), url("/static/img/squaressm.jpg");
  }
}
.allnews {
  padding-top: 2rem;
}
.allnews .posts__cards {
  padding: 1rem 0 0;
}
.allnews .posts__categories {
  border: none;
  background-color: #efefef;
}
.allnews .posts__categories-link--gallery {
  margin-left: 5rem;
  padding: 0.25em 1.25em;
  background-color: rgba(246, 107, 14, 0.8);
  color: #efefef;
}
.allnews .posts__categories-link--gallery:hover, .allnews .posts__categories-link--gallery:focus, .allnews .posts__categories-link--gallery:active {
  box-shadow: 0px 0px 6px #205375;
}
.allnews .posts__main {
  transition: all 0.5s;
}
.allnews .posts__main:hover, .allnews .posts__main:focus, .allnews .posts__main:active {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}
.allnews .posts__main-details {
  position: absolute;
  top: 5px;
  transform: translateX(-50%);
  left: 50%;
}
.allnews .posts__main-heading {
  font-family: "Martel Sans", sans-serif;
  font-size: 1.7rem;
  margin: 0;
}
.allnews .posts__main-newslink {
  color: black;
}
.allnews .posts__main-newslink::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 48em) {
  .allnews {
    padding-top: 0;
  }
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin: 2em 0;
}
.gallery__list-item {
  flex-basis: 300px;
  list-style: none;
  overflow: hidden;
}
.gallery__list-item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  vertical-align: middle;
  transform: scale(1);
  transition: transform 0.7s;
}
.gallery__list-item img:hover {
  transform: scale(1.15);
}

@media screen and (max-width: 62em) {
  .gallery__list {
    justify-content: center;
  }
}
@media screen and (max-width: 37.5em) {
  .gallery__list-item {
    flex-basis: 350px;
  }
  .gallery__list-item img {
    height: auto;
  }
}
.calendar__month {
  display: flex;
  padding: 1rem 2rem 1rem;
}
.calendar__month-heading {
  flex: 1 0 20%;
  margin: 1rem 0 1rem;
}
.calendar__month-heading h2 {
  font-size: 1.8rem;
}
.calendar__month-events {
  width: 100%;
  padding: 0 2rem;
  border-left: 3px solid rgb(32, 83, 117);
}
.calendar__month-events div:last-of-type {
  border-bottom: none;
}
.calendar__month:nth-child(even) {
  background-color: #efefef;
}
.calendar__event {
  display: flex;
  margin: 0 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.calendar__event-date {
  flex: 0 0 7rem;
}
.calendar__event-date--1, .calendar__event-date--2 {
  display: block;
  margin-right: 10px;
  padding: 0.2em 0.2em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}
.calendar__event-date--1 {
  border-bottom: none;
  font-weight: bold;
}
.calendar__event-details--name {
  font-weight: bold;
}
.calendar__event-details--description {
  margin-top: 1rem;
}

@media screen and (max-width: 37.5em) {
  .calendar__month {
    padding: 1rem 1rem 1rem;
    flex-direction: column;
  }
  .calendar__month-events {
    border-left: none;
    padding: 0 0;
  }
  .calendar__month-heading {
    margin: 1rem 0 0;
  }
}
.introduction {
  padding: 1rem 0;
}

.block-docs__list {
  padding: 1rem 4rem;
  list-style: none;
}
.block-docs__list span {
  font-weight: normal;
  font-size: 1.5rem;
}
.block-docs__list a {
  display: inline-block;
  margin: 1rem 0 1rem 2rem;
  font-weight: bold;
  color: #205375;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
}
.block-docs__list a:hover, .block-docs__list a:focus, .block-docs__list a:active {
  -webkit-text-decoration-color: #205375;
          text-decoration-color: #205375;
}
.block-docs__list a[href$=pdf]::before {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-left: -3rem;
  vertical-align: middle;
  content: url("/static/img/file-text.svg");
}

@media screen and (max-width: 48em) {
  .block-docs__list {
    padding: 1rem 0;
  }
}
.teachers__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}
.teachers__image {
  flex: 0 1 500px;
  overflow: hidden;
  margin: 3rem;
}
.teachers__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.teachers__list {
  flex: 1 1 50%;
  margin-bottom: 2rem;
}
.teachers__list, .teachers__intro {
  margin-top: 3rem;
}
.teachers__subject {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.teachers__subject span {
  flex: 1 1 50%;
  font-weight: bold;
}
.teachers__names {
  flex: 0 1 60%;
  list-style: none;
}
.teachers__names-name {
  padding-left: 30px;
}

@media screen and (max-width: 37.5em) {
  .teachers__image {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 25em) {
  .teachers__subject {
    flex-direction: column;
  }
  .teachers__subject span {
    flex: auto;
  }
}
.index__list {
  list-style: none;
}

.index__item {
  padding: 1rem 0;
}

.index__link {
  font-size: 1.7rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  color: rgb(32, 83, 117);
  font-weight: bold;
  transition: -webkit-text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s;
  transition: text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
}
.index__link:hover, .index__link:focus, .index__link:active {
  -webkit-text-decoration-color: rgb(32, 83, 117);
          text-decoration-color: rgb(32, 83, 117);
}

.search__list {
  margin-left: 1rem;
}

.search__pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.search__pagination-link {
  display: inline-block;
  padding: 0.25em 0.5em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: black;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: background-color 0.3s, -webkit-text-decoration-color 0.3s;
  transition: background-color 0.3s, text-decoration-color 0.3s;
  transition: background-color 0.3s, text-decoration-color 0.3s, -webkit-text-decoration-color 0.3s;
}
.search__pagination-link:hover, .search__pagination-link:focus, .search__pagination-link:active {
  background-color: rgba(246, 107, 14, 0.8);
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.galleryall {
  padding: 0 2rem;
}
.galleryall .posts__cards {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0;
  justify-content: flex-start;
}
.galleryall .posts__main {
  flex: 1 0 300px;
}
.galleryall .posts__main-gallerylink {
  display: block;
  margin: auto 0.5em;
  color: black;
}
.galleryall .posts__main-gallerylink::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.galleryall .posts__main-heading {
  font-size: 1.7rem;
  margin: 0.5em 0;
}
.galleryall .posts__main .img-wrapper {
  flex: 0 1 200px;
}
.galleryall .posts__main--secondary {
  max-width: 400px;
  margin: 0;
  transition: all 0.3s;
}
.galleryall .posts__main--secondary:hover, .galleryall .posts__main--secondary:focus, .galleryall .posts__main--secondary:active {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

@media screen and (max-width: 62em) {
  .galleryall .posts__cards {
    justify-content: center;
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 25em) {
  .galleryall {
    padding: 0 0.5rem;
  }
  .galleryall .posts__cards {
    padding: 1rem 0;
  }
}
.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 3rem;
}
.contact__info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__info-bottom {
  padding-bottom: 1rem;
}
.contact__additional_info {
  padding-top: 1rem;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
.contact__additional_info a {
  color: rgb(32, 83, 117);
  font-weight: bold;
}
.contact__additional_info p {
  padding-top: 1rem;
}
.contact__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}