{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}
{% block content %}
<main class="wrapper" id="main">
    <div class="calendar">
        <h1 class="heading-primary mtb-3">Kalendarz wydarzeń</h1>
        {% for month, e in events.items %}
        <div class="calendar__month">
            <div class="calendar__month-heading">
                <h2 class="heading-secondary"> {{month|date:"F Y"}}</h2>
            </div>
            <div class="calendar__month-events">
                {% for event in e %}
                <div class="calendar__event">
                    <div class="calendar__event-date calendar__event-date--start">
                        <span class="calendar__event-date--1 bg-soft-warning">{{event.start_date|date:"j"}}{% if event.end_date %} - {{event.end_date|date:"j"}}{% endif %} </span>
                        <span class="calendar__event-date--2">{{event.start_date|date:"b"}}{%if event.start_date.month != event.end_date.month and event.end_date.month != None %}-{{event.end_date|date:"b"}}{%endif%} </span>
                    </div>

                    <div class="calendar__event-details">
                        <div style="display: flex; flex-wrap: wrap;">
                        <p class="calendar__event-details--name">{{event.name}}</p>
                        {% if event.link_to_details %}
                        <a href="{% pageurl event.link_to_details %}">
                        <img class="event__details-link" src="{% static 'img/link.svg' %}"
                        alt="Link do artykułów ze szczegółami" title="Dowiedz się więcej"></a>
                        {% endif %}
                        </div>
                        {% if event.hour %}
                        <p>godz. {{event.hour}}</p>
                        {% endif %}
                        {% if event.description %}
                        <p class="calendar__event-details--description">{{event.description|linebreaks}}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content%}