@keyframes hover-shadow {
    from {
        box-shadow: 0 0 8px rgba(0, 0, 0, .5);
        transform: translateY(0);
    }

    to {
        box-shadow: 0 0 25px rgba(0, 0, 0, .5);
        transform: translateY(-3px);
    }
}

@keyframes no-shadow {
    from {
        box-shadow: 0 0 25px rgba(0, 0, 0, .5);
        transform: translateY(-3px);
    }

    to {
        box-shadow: 0 0 8px rgba(0, 0, 0, .5);
        transform: translateY(0);
    }
}

.in {
    animation: hover-shadow .5s forwards;
}

.out {
    animation: no-shadow .5s forwards;
}