@use 'abstracts'as *;

.screenReaderOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mtb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bold {
    font-weight: bold;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper-md {
    padding: 0 100px;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.flex-wrapper {
    display: flex;
    gap: 30px;
    padding: 0 50px 0 80px;
}

@include media(xl) {

    .flex-wrapper {
        padding: 0 30px 0 50px;
    }
}

@include media(l) {

    .flex-wrapper,
    .wrapper-md {
        padding: 0 30px 0 30px;
    }
}

@include media(md) {

    .flex-wrapper,
    .wrapper-md {
        padding: 0 20px;
    }
}

@include media(xsm) {

    .flex-wrapper,
    .wrapper-md {
        padding: 0 10px;
    }
}

@include media(xxsm) {

    .flex-wrapper,
    .wrapper-md
    {
        padding: 0 5px;
    }
}