@use 'abstracts'as *;

.screenReaderOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.not-link {
    text-decoration: none;
    color: inherit;
    margin-right: 0;

    &:visited {
        color: inherit;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-red {
    color: red !important;
}

.text-orange {
    color: #F66B0E !important;
}

.text-violet {
    color: rgb(70, 70, 157) !important;
}

.text-violetlight {
    color: #993399 !important;
}

.text-green {
    color: rgb(0, 112, 60) !important;
}

.mtb-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mtb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bold {
    font-weight: bold;
}

.first-letter {
    color: #F66B0E;
}

