@use 'abstracts' as *;

.screenReaderOnly {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper-md {
    padding: 0 100px;
}

@include media(l) {
    .wrapper-md {
        padding: 0 50px;
    }
}

@include media(md) {
    .wrapper-md {
        padding: 0 20px;
    }
}