@use 'colors'as *;

$media: (xxsm: 25em, //400px
    xsm: 31.25em, //500px
    sm: 37.5em, //600px
    md: 48em, //768px
    l: 62em, //992px
    xl: 75em, //1200px
);

@mixin media($breakpoint) {

    @each $breakpoints,
    $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (max-width: $size) {
                @content;
            }
        }
    }
}

@mixin pseudocontent-basic {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin link-primary($start-thickness, $end-thickness, $color-start) {
    color: $color-primary-dark;
    font-weight: bold;
    text-decoration-color: $color-start;
    text-decoration-thickness: $start-thickness;
    transition: text-decoration-color .2s;

    &:hover,
    &:focus,
    &:active {
        text-decoration-thickness: $end-thickness;
        text-decoration-color: $color-secondary-light;
    }
}

@mixin link-document {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 3rem;
    margin-left: -4rem;
    vertical-align: middle;
    content: url('/static/img/file-text.svg');
}