{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags menu_tags%}
{% load static %}
{% block content %}
<main id="main">
    <div class="wrapper wrapper-md">
        <h1 class="heading-primary mtb-3">{{page.title}}</h1>
    </div>
    <div class="contact wrapper wrapper-md">
        <div class="contact__info">
            <div>
                <p class="contact__info-name"><span class="bold">{{ page.name }}</span></p>
                <p class="contact__info-address">{{ page.address1 }}</p>
                <p class="contact__info-address contact__info-bottom">{{ page.address2 }}</p>
                <p class="contact__info-phone contact__info-bottom"><span class="bold">Telefon: </span>{{ page.phone }}
                </p>
                {% if page.fax %}
                <p class="contact__info-fax  contact__info-bottom"><span class="bold">Fax: </span>{{ page.fax }}</p>
                {% endif %}
                <p class="contact__info-email contact__info-bottom"><span class="bold">E-mail: </span>{{ page.email }}
                </p>
            </div>
            <div class="contact__additional_info">
                {{ page.additional_info|richtext }}
            </div>
        </div>
        <div class="contact__img">
            {% image page.image width-500 as img %}
            <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ page.alt_attr }}"
                class="contact__img-img" />
        </div>
    </div>
</main>
{% endblock %}