{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags menu_tags%}
{% load static %}
{% block content %}
<main id="main">
    <div class="subpage-heading">
        <div class="wrapper wrapper-md">
            <h1 class="heading-primary heading-center-md">{{page.title}}</h1>
        </div>
    </div>
    <div class="wrapper">{%include 'includes/breadcrumb.html'%}</div>
    <div class="main ordinary wrapper wrapper-md">
        {% for block in page.content %}
        {% if block.block_type == 'table' %}
        <div class="table">{% include_block block %}</div>
        {% elif block.block_type == 'docs' %}
        {% include_block block %}
        {% elif block.block_type == 'typed_table' %}
        {% include_block block %}
        {% elif block.block_type == 'pdf_file' %}
        <iframe title="{{block.value.title}}" src="https://docs.google.com/gview?url={% wagtail_site %}{{block.value.file.url}}&embedded=true" style="width:100%; height:500px; max-width:800px" frameborder="0"></iframe>
        {% else %}
        <div class="block-{{ block.block_type }} block__text group">
            {% include_block block %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>
{% endblock %}