{% load static %}

<div class="cookie-box hide">
    <div class="cookie-wrapper">

        <div class="cookie-txt">
            Strona używa plików cookies w celu poprawnego funkcjonowania. Możesz samodzielnie zarządzać cookies,
            zmieniając ustawienia przeglądarki. Brak zmiany ustawienia przeglądarki
            oznacza wyrażenie zgody na ich użycie oraz zapisanie w
            pamięci urządzenia.
        </div>

        <button class="cookie-btn main-button">OK</button>
    </div>
</div>