{% load static wagtailcore_tags menu_tags %}
<div class="skipnav"><a href="#main">Pomiń nawigację</a></div>
<nav class="nav">
    <div class="nav__wrapper">
        <ul class="nav__list" id="menu-list">
           {% for item in menu_items %}
            <li class="nav__list-item">
                {% if not item.sub_menu %}
                <a href="{{item.href}}" class="nav__list-link menu-close">{{ item.text }}</a>
                {% else %}
                <button class="nav__list-link nav-link nav__btn" aria-haspopup="true" data-dropdown="dropdown{{item.id}}"> {{item.text}}<img src="{% static 'img/chevrond.svg' %}" alt="" class="nav__list-icon" width="24" height="24">
                 </button>
                <ul class="nav__dropdown" id="dropdown{{item.id}}">
                    {% for sub_item in item.sub_menu.items %}
                    <li class="nav__dropdown-item"><a href="{{sub_item.href}}" class="nav__dropdown-link menu-close">{{ sub_item.text }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <form class="nav__search" action="{% url 'search' %}" method="get">
            <label for="txtSearch" class="screenReaderOnly">Szukaj: </label>
            <input id="txtSearch" type="text" placeholder="Wyszukaj" class="nav__search-input" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}/>
            <button id="btnSearch" value="Search" type="submit" class="nav__search-btn"><img src="{% static 'img/search.svg' %}" width="55" height="35">
                    alt="Szukaj" title="Szukaj"></button>
        </form>
        <button class="hamburger hamburger--spring" type="button" aria-haspopup="true" aria-expanded="false">
            <span class="hamburger-box" role="presentation"><span class="hamburger-inner" role="presentation"></span></span>
            <span class="hamburger-text">Menu</span>
        </button>
        </div>
    </nav>




