@use 'abstracts' as *;

.index__list {
    list-style: none;
}

.index__item {
    padding: 1rem 0;

}

.index__link {
    font-size: 1.7rem;
    @include link-primary(2px,2px, transparent);
    text-underline-offset: 3px;
}
