@use 'abstracts' as *;
.news {
    ul, ol {
        margin-left: 2rem;
    }

    &__bannerimg {
        max-width: calc(35% + 40px);
        min-width: 250px;
        float: left;
        padding-right: 40px;
        padding-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@include media(l) {
    .news {
        &__bannerimg {
            max-width: 600px;
            padding: 0;
            float: none;
            clear: both;
            margin-bottom: 20px;
        }
    }
}