@use 'abstracts'as *;


main {
    .news {

        ul,
        ol {
            margin-left: 2rem;
            padding-bottom: .5em;
        }

        p {
            padding-bottom: .5em;
        }
    }
}

.news {

    &__aside {
        flex: 0 0 350px;
        background-color: #efefef;
        font-size: 1.4rem;

        &-list {
            padding-left: 0;
            list-style: none;
            height: 100%;
        }

        &-item {
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            padding: .75rem 1.5rem;
            transition: background-color .3s;

            &:hover,
            &:focus-within {
                background-color: $color-primary-dark;
            }

            &--txt {
                flex-grow: 1;


                p {
                    transition: color .3s;
                }

                p:first-of-type {
                    display: flex;
                    align-items: center;
                    position: relative;
                    font-size: 1.4rem;
                    color: rgba(0, 0, 0, .7);
                    z-index: 2;

                    span {
                        display: inline-block;
                        padding: 0 .5rem;
                        margin-left: .5rem;
                        background-color: rgba($color-primary-dark, .8);
                        color: #efefef;
                        font-weight: bold;
                        font-size: 1.3rem;
                        border-radius: 4px;
                    }
                }

                p:last-of-type {
                    position: relative;
                    font-weight: bold;
                    z-index: 2;
                }



                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #000;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover>p,
                    &:focus>p,
                    &:hover>p>span,
                    &:focus>p>span {
                        color: #efefef;
                    }
                }
            }

            &--img {
                width: 80px;
                height: 60px;
                flex-shrink: 0;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }

    &__content {
        padding: 2rem 0;
    }

    &__bannerimg {
        position: relative;
        max-width: calc(35% + 40px);
        min-width: 250px;
        max-height: 350px;
        overflow: hidden;
        float: left;
        padding-right: 40px;
        padding-bottom: 10px;

        a {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;

            &:hover:after,
            &:hover:before {
                opacity: 1;
            }

            &::after,
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.3s;
            }

            &::after {
                content: url("/static/img/zoom.svg");
                width: 40px;
                height: 40px;
            }

            &::before {
                content: "";
                min-width: 80px;
                min-height: 60px;
                background-color: #ddd;
                border-radius: 50px;
            }
        }



        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;


        }
    }

}

.news-gallery {
    .gallery {
        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 10px;
            justify-content: space-between;
            margin: 2rem 0;

            img {
                height: 180px;
            }
        }
    }
}

@include media(xl) {
    .news {
        &__aside {
            flex: 0 0 300px;
        }
    }
}

@include media(l) {
    .news {
        &__aside {
            display: none;
        }

        &__bannerimg {
            max-width: 600px;
            padding: 0;
            float: none;
            clear: both;
            margin-bottom: 20px;
        }
    }
}

@include media(md) {
    .news {

        &__content {
            padding: 0;
        }

        &__bannerimg {
            a {

                &::after,
                &::before {
                    display: none;
                }
            }
        }
    }
}



@include media(xsm) {
    .news-gallery {
        .gallery {
            &__list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
                grid-gap: 8px;
                justify-content: space-between;
                margin: 2rem 0;

                img {
                    height: 100px;
                }
            }
        }
    }
}

@include media(xsm) {
    .news-gallery {
        .gallery {
                img {
                    height: 120px;
                }
            }
        }
    }
