@use 'abstracts'as *;

.allnews {
    .posts {
        &__cards {
            padding: 1rem 0 0;
        }

        &__categories {
            border: none;
            background-color: #efefef;
        }

        &__main {
            &-details {
                position: absolute;
                top: 5px;
                transform: translateX(-50%);
                left: 50%;
            }

            // &--secondary {
            //     margin: 0;
            // }

            &-heading {
                font-size: 1.9rem;
                margin: 0;
            }
        }

    }
}

