@use 'abstracts'as *;

.allnews {
    padding-top: 2rem;

    .posts {
        &__cards {
            padding: 1rem 0 0;
        }

        &__categories {
            border: none;
            background-color: #efefef;

            &-link {
                &--gallery {
                    margin-left: 5rem;
                    padding: 0.25em 1.25em;
                    background-color: $color-secondary-cta;
                    color: #efefef;

                    &:hover,
                    &:focus,
                    &:active {
                        box-shadow: 0px 0px 6px #205375;

                    }
                }
            }
        }

        &__main {
            transition: all .5s;

            &:hover,
            &:focus,
            &:active {
                box-shadow: 0 0 25px rgba(0, 0, 0, .5);
                transform: translateY(-3px);
            }

            &-details {
                position: absolute;
                top: 5px;
                transform: translateX(-50%);
                left: 50%;
            }

            &-heading {
                font-family: $main-font;
                font-size: 1.7rem;
                margin: 0;
            }

            &-newslink {
                color: black;

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

    }
}

@include media(l) {
    .allnews {

        .posts {
            &__cards {
                padding: 3rem 0 0;
            }
        }
    }
}


@include media(md) {
    .allnews {
        padding-top: 0;
    }
}