{% load wagtailcore_tags static %}
<div class="content">
{%for block in page.body %}
    {% if block.block_type == 'image' %}
    <div class="content__img">
        {% image block.value.img width-800 as img %}
        <img src="{{img.url}}" alt="{{block.value.alt_attr}}">
    </div>
    {% elif block.block_type == 'table' %}
    <div class="content__table">
        {% include_block block %}
    </div>
    {% else %}
    <div class="content__text">
        {% include_block block %}
    </div>
    {% endif %}
{% endfor %}
</div>
