{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}
{%include 'includes/navbar.html'%}
<main class="wrapper">
    {%include 'includes/breadcrumb.html'%}
    <h1 class="heading-primary">{{ page.title }}</h1>
    <p>{{page.main_text|richtext}}</p>
    <div class="gallery">
        <ul class="gallery__list">
            {% for i in page.gallery_images.all %}
            {% image i.image width-300 as thumbimg %}
            {% image i.image original as img %}
            <li class="gallery__list-item">
                <a data-fslightbox="gallery" href="{{img.file.url}}">
                    <img class="gallery-image" src="{{thumbimg.url}}" alt="Podgląd zdjęcia {{img}}"/>
                    <span class="screenReaderOnly">Link do powiększonego zdjęcia</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
</div>
<script src="/static/js/fslightbox.js"></script>
{%endblock content %}