{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}
<main class="wrapper" id="main">
    <section class="galleryall" id="allnews">
        <div class="heading-wrapper mtb-3">
            <h1 class="heading-primary ">Galerie zdjęć {% if active_year %}- rok szkolny{% endif %} {{active_year}}</h1>
            <div class="select menu-button-actions">
                <button class="select__btn" type="button" id="menubutton1" aria-haspopup="true" aria-controls="menu1">
                    Wybierz rok szkolny:
                    <svg xmlns="http://www.w3.org/2000/svg" class="down" width="12" height="9" viewBox="0 0 12 9">
                        <polygon points="1 0, 11 0, 6 8"></polygon>
                    </svg>
                </button>
                <ul class="select__list" id="menu1" role="menu" aria-labelledby="menubutton1">
                    {% for year in years %}
                    <li class="select__list-item" role="menuitem">
                        <a class="dropdown-item select__list-link" href="{{page.get_url}}?year={{year.urlname}}" aria-label="Przejdź do galerii zdjęć z {{year.name}}">{{year.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="posts__cards">
            {% for gallery in posts %}
            <div class="posts__main posts__main--secondary" data-aos="fade-up">
                <div class="img-wrapper">
                    {% if gallery.get_banner_image is not None %}
                    {% image gallery.get_banner_image.image fill-500x400 as img %}
                    <img src="{{img.url}}" alt="{{gallery.get_banner_image.alt_attr}}" width="{{img.width}}" height="{{img.height}}"
                        class="posts__main-img posts__main-img--secondary">
                    {% endif %}
                </div>
                <a href="{{gallery.get_url}}" class="posts__main-gallerylink" aria-label="Przejdź do galerii zdjęć {{gallery.title}}">
                {% comment %} <div class="posts__main-box posts__main-box--secondary"> {% endcomment %}
                   <h2 class="posts__main-heading">{{gallery.title}}</h2>
                {% comment %} </div> {% endcomment %}
                </a>
                </div>
                {% endfor %}
            </div>
    </section>
    {%include 'includes/pagination.html'%}
</main>
{%endblock content %}
{% block extra_js %}
<script src="{% static 'js/dropdown.min.js' %}"></script>
{%endblock%}