{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/glightbox.min.css" />
{% endblock %}

{% block content %}
{%include 'includes/navbar.html'%}

{{ page.heading }}

<div class="">
    {% for i in page.gallery_images.all %}
    {% image i.image width-300 as thumbimg %}
    {% image i.image original as img %}

    <a data-fslightbox="gallery" href="{{img.file.url}}" >
        <span><img class="photogallery-image" src="{{thumbimg.url}}"/></span>
    </a>
    {% endfor %}
</div>

<div class="">
    {% for i in page.gallery_images.all %}
    {% image i.image width-300 as thumbimg %}
    {% image i.image original as img %}

    <!-- <a data-fslightbox="gallery" href="{{img.file.url}}">
        <span><img class="photogallery-image" src="{{thumbimg.url}}" /></span>
    </a> -->
    <a href="{{img.file.url}}" class="glightbox" >
      <img src="{{thumbimg.url}}" alt="image" />
    </a>
    {% endfor %}
</div>

<script src="/static/js/glightbox.min.js"></script>
<script src="/static/js/fslightbox.js"></script>
<script src="/static/js/gallery.min.js"></script>
<script type="text/javascript">


        const lightbox = GLightbox({});

</script>

{%endblock content %}