{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}

<main class="wrapper" id="main">
    {%include 'includes/breadcrumb.html'%}
    <h1 class="heading-primary mtb-3">{{ page.title }}</h1>
    <p>{{page.main_text|richtext}}</p>
    <div class="gallery">
        <ul class="gallery__list">
            {% for i in posts %}
            {% image i.image width-300 as thumbimg %}
            {% image i.image original as img %}
            <li class="gallery__list-item">
                <a data-fslightbox="gallery" href="{{img.file.url}}" data-alt="{{i.alt_attr}}">
                    <img class="gallery-image" src="{{thumbimg.url}}" alt="Podgląd zdjęcia {{i.image.title}}"/>
                    <span class="screenReaderOnly">Link do powiększonego zdjęcia</span>
                </a>
            </li>
            {% endfor %}
        </ul>
         {%include 'includes/pagination.html'%}
    </div>
</main>
</div>
<script src="/static/js/fslightbox.js"></script>
{%endblock content %}