@use 'abstracts'as *;

.breadcrumb {
    margin: .5rem 0 2rem;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        list-style: none;
        margin-top: 1rem;
        padding: 0;

        &-item {
            color: #205375;
            font-weight: bold;
            font-size: 1.5rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }


            &--active {
                color: rgba(0, 0, 0, 0.9);
                font-weight: normal;
                font-size: 1.5rem;

                &:hover {
                    text-decoration: none;
                }

            }
        }



        li:not(:last-child)::after {
            display: inline-block;
            margin: 0 .5rem;
            content: "▶";
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.8);
            color: #f3a26b;
        }
    }
}

@include media(l) {
    .breadcrumb {
        margin: .5rem 0 0;
    }
}