@use 'abstracts' as *;

.events {
    background-color: #efefef;
    padding: 2em 1em;
    width: 100%;

    &__timeline {
        margin-top: 4rem;
        border-top: 3px solid rgba(17, 43, 60, .3);

    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
}

.event {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 2em 1em 0 1em;
    margin-right: 0;

    &::before {
        content: "";
        position: absolute;
        height: 36px;
        border-right: 2px dashed rgba(17, 43, 60, .3);
        top: 0;
    }

    &__details {
        &-item {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 0 2.5rem;
        }

        &-square {
              min-width: 65px;
              padding: .2em .6em;
              margin: 0 .5em .3em;
               box-shadow: 0 0 2px rgba(0, 0, 0, .4);
               font-weight: bold;
        }

        &-date {
            position: absolute;
            top: -12px;
            left: 0;
            right: 0;
            width: max-content;
            margin: 0 auto 1rem;
            padding: .3em .6em;
            box-shadow: 0 0 2px rgba(0, 0, 0, .4);
            font-weight: bold;

            &--end {
                color: black;
                margin: 0 .5em .3em;
            }
        }

        &-hour {
            color: rgba(0, 0, 0, .7);
            background-color: white;
        }


        &-text {
            margin-top: .25em;
        }

    }
}

@include media(l) {
    .events {
        &__timeline {
            margin-top: 2rem;
        }

        &__list {
            flex-direction: column;
        }
    }

    .event {
        display: block;
        padding: 70px 0 0 0;


        &__details {
            &-item {
                flex-direction: row;
                margin: 1rem 0 1.5rem;
            }
            &-date {
                top: 38px;
            }
        }
    }
}


.bg-soft-warning {
    background-color: #f3a26b;
}

@include media(xxsm) {
    .events {
        padding: 2em .5rem;
    }}