@use 'abstracts' as *;

.page-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, .8);

    &>*,
    &>*>* {
        padding-right: .5rem;
    }

    .page-author {
        font-weight: bold;
        padding-right: 1rem;
    }

    .page-date,
    .page-author {
        padding-bottom: 0;
    }

    .page-dbox {
        display: flex;
        align-items: center;
    }

    svg {
        margin-top: -4px;
        color: $color-secondary-cta;
    }
}
