.pagination {
    margin: 2rem 0 1rem;
}

.pagination__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.pagination__item {

    &-link {
        text-decoration: none;
        border: 1px solid #efefef;
        color: black;

    }

    span {
        display: inline-block;
        padding: 10px 14px;
        color: inherit;
        // font-weight: bold;
    }

    .active {
        background-color: #F66B0E;
        // color: #efefef;
        border: 1px solid #F66B0E;
    }
}