@use 'abstracts'as *;

.posts {
    padding: 3em .5em;
    display: flex;
    justify-content: center;

    &__box {
        &-heading {
            padding: 2em .75em .5em;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, auto));
        gap: 40px;
        justify-items: center;
        padding: 3rem 2rem 0;
    }

    &__main {
        position: relative;

        a {
            text-decoration: none;
        }

        &--primary {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 1200px;
            margin: 3rem 0 3rem;
            gap: 40px;

            p {
                margin-bottom: .5em;
            }
        }

        &--secondary {
            display: flex;
            flex-direction: column;
            height: auto;
            max-width: 500px;
            margin: 3rem 0 2rem;
            box-shadow: 0 0 8px rgba(0, 0, 0, .5);
            overflow: hidden;
        }

        &-img {

            display: block;
            object-fit: cover;
            object-position: center;
            width: 100%;


            &--primary {
                flex: 0 1 550px;
                height: auto;

            }

            &--secondary {
                width: 100%;
                height: 100%;
            }

        }

        &-box {
            display: flex;
            flex-direction: column;


            &--primary {
                flex: 0 1 550px;
            }

            &--secondary {
                justify-content: space-around;
                max-width: 600px;
                padding: 1em;
                height: 100%;
            }


            ul,
            ol {
                padding-left: 1.5rem;
                margin-bottom: 1em;
            }

            & > p {
                margin-bottom: .5em;
                    a {
                        @include link-primary(1px, 2px, $color-primary-dark);
                    }
            }
        }

        &-link {
            display: inline-block;
            margin-left: auto;
            margin-top: auto;
            height: min-content;
            padding: 0.25em 1em;
            border-radius: 20px;
            text-decoration: none;
            text-align: right;
            color: #205375;
            font-weight: bold;
            font-size: 1.5rem;
            box-shadow: 0px 0px 3px #205375;
            transition: background-color .5s;

            &:hover,
            &:focus {
                background-color: #efefef;
            }

            &--secondary {


                &::after {
                    @include pseudocontent-basic;
                }
            }

            &--primary {
                display: block;
                width: max-content;
                margin-top: 2rem;

                transition: background-color .5s,
                    transform .5s;

                &:hover,
                &:focus {
                    transform: translateY(-3px);
                }
            }
        }

        &-heading {
            font-weight: 700;
            margin: .5em 0 1em;
            overflow-wrap: anywhere;


            &--primary {
                font-size: 2.2rem;
            }

            &--secondary {
                font-size: 2.1rem;
            }
        }

        &-text {
            margin-bottom: 1em;
        }


        &-category {
            align-self: flex-start;
            padding: .25em 1em;
            margin-bottom: 1em;
            font-weight: bold;
            letter-spacing: 1px;

            &--0 {
                background-color: #EFDAE0;
                color: #914F4C;
            }

            &--1 {
                background-color: #DDE6ED;
                color: #465F73;
            }

            &--2 {
                background-color: #E9FDDF;
                color: #088251;
            }

            &--3 {
                background-color: #F5CFAE;
                color: #8A4C09;
            }

            &--4 {
                background-color: #E3CAA5;
                color: #603601;
            }
        }

        &-details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
            font-size: 1.5rem;
            color: rgb(102, 94, 94);

            &--date {
                display: inline-block;
                padding: .25em 1em;
                background-color: rgba(255, 255, 255, .9);
            }
        }
    }



    &__categories {
        display: grid;
        grid-template-columns: 1fr 7fr;
        margin: 3rem 0 0;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        border-top: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        &-list {
            grid-column: 2/3;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-left: auto;
            list-style: none;
        }

        &-link {
            margin-top: .5em;
            margin-left: 1em;
            color: #205375;
            text-decoration: none;
            text-align: right;
            border-radius: 20px;
            transition: box-shadow .3s,
                background-color .3s, color .3s, transform .3s;

            &:hover,
            &:focus,
            &:active {
                box-shadow: 0px 0px 3px #205375;
                // transform: translateY(-2px);
            }

            &--active {
                background-color: #205375;
                color: white;
            }

        }

        &-category {
            display: inline-block;
            height: min-content;
            padding: 0.25em .75em;
            font-weight: bold;

            &--filter {
                grid-column: 1/2;
                margin-top: 0.5em;
                color: black;
            }
        }
    }

    &__linktoall {
        display: flex;
        justify-content: center;
        max-width: max-content;
        padding: 0.25em .5em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: 3em;
        color: #205375;
        text-decoration: none;
        font-weight: bold;
        border-radius: 20px;
        transition: box-shadow .3s,
            background-color .3s, color .3s;

        span {
            display: inline-block;
        }

        &:hover,
        &:focus,
        &:active,
        &--active {
            box-shadow: 0px 0px 3px #205375;
        }
    }
}

.img-wrapper {
    flex: 0 0 30rem;
    width: 100%;
    min-width: 100%;
    overflow: hidden;

}


@include media(l) {
    .posts {
        padding: 0 0 1em;

        &__list {
            justify-content: flex-end;
        }

        &__main {
            &--primary {
                margin: 5rem 0 2rem;
            }

            &--secondary {
                margin: 0;
            }
        }

        &__categories {
            &-list {
                justify-content: flex-end;
            }
        }
    }
}

@include media(md) {
    .posts {
        &__cards {
            gap: 30px;
        }

        // &__main {
        //     &-img {
        //         &--primary {
        //             height: 270px;
        //         }
        //     }
        // }
    }
}

@include media(sm) {
    .posts {
        &__cards {
            padding: 2rem 0;
        }

        &__main {
            &--primary {
                padding: 0 10px;
            }
        }

        &__categories {
            &-link {
                margin-left: .25em;

                &--gallery {
                    margin-left: .25em;
                }
            }
        }
    }
}


@include media(xsm) {

    .posts {
        &__cards {
            grid-template-columns: auto;
        }

        &__linktoall {
            margin-right: .5em;

            span {
                padding-right: .5em;
                text-align: right;
            }
        }
    }

    .img-wrapper {
        flex: 0 0 25rem;
    }
}

@include media(xxsm) {
    .posts {
        &__box {
            &-heading {
                padding: 2em .5rem .5em;
            }
        }

        &__main {
            position: relative;

            &--primary {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            &-box {
                &--secondary {
                    padding: .75em;
                }
            }
        }

        &__categories {
            padding-left: 0;
        }
    }
}