@use 'abstracts' as *;

.menu-button-actions {
    margin: 0;
    padding: 0;
    z-index: 5;
}

.menu-button-actions button {
    margin: 0;
    padding: 6px 12px;
    display: inline-block;
    position: relative;
    background-color: #efefef;
    border: 1px solid rgba($color-primary-dark, .5);
    font-size: 1.6rem;
    // color: white;
    border-radius: 5px;
}

.menu-button-actions [role="menu"] {
    display: none;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 7px 4px;
    border-radius: 5px;
    background-color: #efefef;
}

.menu-button-actions [role="menuitem"] {
    margin: 0;
    padding: 6px 12px;
    display: block;
    width: 100%;
    background-color: #efefef;
    color: black;
    border-radius: 5px;
    border: 2px solid transparent;
}


.menu-button-actions button svg.down {
    padding-left: 0.125em;
    fill: currentcolor;
    stroke: currentcolor;
}

.menu-button-actions button[aria-expanded="true"] svg.down {
    transform: rotate(180deg);
}

/* focus styling */

.menu-button-actions button:hover,
.menu-button-actions button:focus,
.menu-button-actions button[aria-expanded="true"] {
    padding: 4px 10px;
    border: 3px solid $color-primary-dark;
    background: #efefef;
    color: #222;
    outline: none;
    margin: 0;
}

.menu-button-actions [role="menuitem"].focus,
.menu-button-actions [role="menuitem"]:focus {
    padding: 6px 12px;
    border: 2px solid $color-primary-dark;
    background: $color-secondary-cta;
    // color: #fff;
    outline: none;
    margin: 0;
}

.select {
    position: relative;
    &__list-link {
        display: inline-block;
        width: 100%;
        color: inherit;
        text-decoration: none;
    }
}





