@use 'abstracts'as *;

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;

    &__upper {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        margin-top: 4rem;
        background-color: transparent;
        color: white;

        &::before {
            @include pseudocontent-basic;
            background-image: linear-gradient(rgba(32, 83, 117, .7), rgba(32, 83, 117, .7)),
                url("/static/img/squareslg.jpg");
            background-size: cover;
            z-index: -2;
        }

        &-contact,
        &-links {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 1em;
        }

        &-contact *,
        &-links * {
            margin: .5rem 1rem;

            .not-link {
                margin-left: 0;
                margin-right: 0;
            }

        }


        &-contact {
            margin-bottom: 1em;

            &--phone,
            &--mail {
                display: flex;
                align-items: center;
                overflow-wrap: anywhere;

                img {
                    margin-right: 0;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &-links::after,
        &-contact::after {
            @include pseudocontent-basic;
            background-color: rgba(32, 83, 117, .9);
            z-index: -1;
        }

        &-links {
            .bip-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: min-content;
                background-color: white;
                border-radius: 5px;
                margin: .5rem 1rem;
            }

            .bip-link {
                height: 3rem;
                margin: 0 .5rem;
            }

            a {
                text-decoration: none;
                color: white;
                transition: color .3s;

                &:hover {
                    color: $color-secondary-basic;
                }
            }

            .bip {
                height: 100%;
                margin: 0;
            }
        }
    }



    &__bottom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: min-content;
        padding: 1em;
        font-size: 1.5rem;
        background-color: white;
        color: black;

        p {
            margin-top: .5em;
            text-align: center;
        }

        a {
            margin-top: .5em;
        }
    }
}


@include media(l) {
    .footer {
        &__upper {

            &::before {
                background-image: linear-gradient(rgba(32, 83, 117, .7), rgba(32, 83, 117, .7)),
                    url("/static/img/squaressm.jpg");
            }
        }
    }
}

@include media(sm) {
    .footer {
        &__upper {
            padding: 2em 0;
        }
    }
}

@include media(xxsm) {
    .footer {
        &__upper {
            padding: 1em 0;

            &-contact,
            &-links {
                justify-content: flex-start;

                &--phone,
                &--mail {
                    img {
                        margin-right: 0.25em;

                    }
                }
            }

            &-contact *,
            &-links * {
                margin: .5rem 1rem .5rem 0;
            }


        }
    }
}