@use 'abstracts'as *;

.header {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    min-height: 50vh;
    width: 100%;
    padding: 1em 0;


    &::before {
        @include pseudocontent-basic;
        background-image: linear-gradient(rgba(25, 64, 91, 0.55), rgba(25, 64, 91, .55)),
            url("/static/img/szkola1lgm.jpg");
        background-size: cover;
        background-position: center;

    }

    &__text {
        display: flex;
        position: relative;
        z-index: 3;
        padding: 2rem 3rem;
        text-align: center;

        h1 {
            font-size: 5.5rem;
            font-family: $heading-font;
            line-height: 1.5;
            color: white;
        }
    }

    &__emblem {
        position: absolute;
        top: 10px;
        left: 30px;
        width: 50px;
        z-index: 3;

    }

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1000px;
        min-height: 10rem;
        margin-top: -40px;
        margin-left: auto;
        margin-right: auto;
        z-index: 5;


        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex: 1 0 15rem;
            margin: .5em 1em;
            width: 300px;
            padding: 1em;
            font-size: 2rem;
            font-weight: bold;
            background-color: #EFEFEF;
            color: #112B3C;
            box-shadow: 0 0 10px rgba(0, 0, 0, .7);
            ;
            text-decoration: none;
            text-align: center;
            transition: transform .5s;

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 0 20px rgba(0, 0, 0, .7);
            }

            &--active {
                box-shadow: 0 0 10px rgba(0, 0, 0, .7),
                    inset 0px 0px 8px 3px $color-secondary-basic;

                &:hover {
                    box-shadow: 0 0 20px rgba(0, 0, 0, .7),
                        inset 0px 0px 8px 3px $color-secondary-basic;
                }
            }



            img {
                height: 3.5rem;
                padding: 0 .5em 0 0.5em;
                margin-bottom: .3em;
            }

        }
    }
}

@include media(xl) {
    .header {
        &__emblem {
            left: 8px;
            width: 40px;
        }


    }
}

@include media(l) {
    .header {
        &::before {
            background-image: linear-gradient(rgba(25, 64, 91, 0.55), rgba(25, 64, 91, .55)),
                url("/static/img/szkola1sm.jpg");
        }
    }
}

@include media(md) {
    .header {
        &__text {
            padding: 1rem;
            overflow-wrap: anywhere;

            h1 {
                font-size: 4.4rem;
            }
        }

        &__links {
            &-link {
                flex-direction: column;
                flex: 1 1 10rem;
                padding: .5em .3em;
                min-width: 10rem;
                font-size: 1.6rem;

                img {
                    height: 2.5rem;
                }
            }
        }
    }
}


@include media(xsm) {
    .header {
        &__emblem {
            left: 10px;
            width: 40px;
        }

        &__text {
            margin-top: -20px;

            h1 {
                font-size: 4rem;
            }
        }

        &__links {
            margin-top: -40px;

            &-link {
                margin: .5em .5em;

                img {
                    padding: 0 .5em;
                }

            }
        }
    }
}

@include media(xsm) {
    .header {
        &__links {
            &-link {
                margin: .5em .25em;
            }
        }
    }
}