@use 'abstracts'as *;

.nav {
    // border-bottom: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .6);

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1400px;
        margin: 0 auto;

    }

    &__list {
        display: inline-flex;
        list-style: none;


        &-item {
            position: relative;
            display: block;
            height: 90px;
            margin: auto 0;
        }

        &-icon {
            pointer-events: none;
        }

        &-link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 1em;
            // line-height: 90px;
            text-decoration: none;
            color: black;
            // text-transform: uppercase;
            font-size: 1.8rem;
            font-weight: bold;
            border-top: 5px solid transparent;
            transition: background-color .3s, border-top-color .3s;

            &:hover,
            &:focus {
                background-color: #EFEFEF;
                border-top-color: $color-primary-dark;

            }
        }
    }

    &__btn {
        border-left: none;
        border-right: none;
        border-bottom: none;
        cursor: pointer;
        font-family: $main-font;
        background-color: inherit;

    }

    &__dropdown {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 85px;
        width: max-content;
        max-width: 100vw;
        background-color: white;
        box-shadow: 0 0 3px rgba(0, 0, 0, .2);
        list-style: none;
        z-index: 10;
        max-height: 0;
        opacity: 0;
        overflow: hidden;

        &-link {
            display: inline-block;
            padding: .75em;
            width: 100%;
            // border-bottom: 1px solid rgba(0, 0, 0, .4);
            box-shadow: 0 0 1px rgba(0, 0, 0, .5);
            text-decoration: none;
            color: black;
            transition: background-color .3s;



            &:hover,
            &:focus {
                background-color: rgba(246, 107, 14, .8);
            }
        }
    }
}

.nav__search {
    display: flex;
    width: 30rem;
    margin-left: auto;
    margin-right: 1em;
    padding: .5em 0 .5em 0;

    &-input,
    &-btn {
        border: 2px solid black;
        font-size: inherit;
    }

    &-input {
        flex-grow: 2;
        width: 50vw;
        padding: .25em .5em .25em .75em;
        border-radius: 15px 0 0 15px;
        // border: 2px solid transparent;
        font-family: $main-font;

        &:focus {
            // outline: none;
            border: 2px solid $color-primary-dark;
            background-color: #EFEFEF;
        }
    }

    &-btn {
        padding: .1em .5em .1em .25em;
        // background-color: rgb(32, 83, 117);
        background-color: black;
        border-left: 2px solid transparent;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        transition: background-color .3s, transform .3s, color .3s;

        &:hover,
        &:focus {
            background-color: $color-primary-dark;
            border: 2px solid $color-primary-dark;

        }

        &:active {
            img {
                transform: scale(.9);
            }
        }
    }
}

.hamburger {
    display: none;
}

.show {
    display: flex;
    opacity: 1;
    max-height: min-content;
}

@include media(l) {
    .hamburger {
        display: block;
        position: relative;
        // margin-left: auto;
        margin-right: 1rem;
        padding-bottom: 0;
        font-size: 1.6rem;
        line-height: 1.5;
        opacity: 1;
        z-index: 500;

        &-inner,
        &-inner::before,
        &-inner::after {
            z-index: 500;
        }

        &-text {
            display: block;
            color: black;
            width: 6rem;
        }
    }

    .nav {
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        max-width: 100%;
        min-height: 6.6rem;

        &__wrapper {
            max-width: 100vw;
        }


        &__search {
            width: min-content;
            max-width: 300px;
            margin-right: .5em;
            margin: 0 auto;
        }


        &__list {
            display: none;
            align-items: stretch;


            &--active {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 100vh;
                height: max-content;
                width: 100%;
                // width: 100vw;
                display: flex;
                align-items: center;
                flex-direction: column;
                box-shadow: none;
                margin-top: 6.4rem;
                padding: 0;
                padding-bottom: 9rem;
                padding-top: 3.5rem;
                text-align: center;
                overflow-y: scroll;
                // scroll-padding-top: 90px;
                background-color: rgba(255, 255, 255, 1);
                z-index: 9;
            }

        }

        &__list {
            &-link {
            width: max-content;
            min-width: 320px;
            height: auto;
            padding: 1em;
            line-height: 1;
            border-top: none;
            border-left: 5px solid transparent;
            transition: border-left-color .3s;

            &:hover,
            &:focus,
            &:active {
                border-left-color: $color-primary-dark;
            }
        }
        }

        &__list {
            &-item {
                height: min-content;
                padding: 0 0.5em;
                margin: 0;
            }
        }


        &__dropdown {
            position: static;
            display: block;
            opacity: 1;
            width: max-content;
            min-height: 100%;
            margin: 0 auto;
            box-shadow: none;

            &-link {
                box-shadow: none;
                min-width: 320px;
            }
        }
    }
}

.skipnav {
    line-height: 1.5;
    text-align: center;
    overflow-wrap: break-word;
}

.skipnav a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skipnav a:focus,
.skipnav a:active {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 1rem;
    font-size: 1.8rem;
    color: white;
    background-color: $color-primary-dark;
    overflow: visible;
    z-index: 9999;
}