{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}

<main class="wrapper">
    <!-- {%include 'includes/breadcrumb.html'%} -->
    <section class="allnews" id="allnews">
        <h1 class="heading-primary mtb-3">Wszystkie aktualności</h1>
        <div class="posts__categories">
            <p class="posts__categories-category posts__categories-category--filter">Filtruj: </p>
            <ul class="posts__categories-list" id="categories-list">
                <li><a href="{% pageurl page%}#allnews" class="posts__categories-category posts__categories-link {% if not active_category %} posts__categories-link--active {% endif %}">Wszystkie kategorie</a>
                </li>
                {% for category in categories %}
                {%if category.name != 'Galeria' %}
                <li><a href="?category={{category.id}}" class="posts__categories-category posts__categories-link {% if category == active_category %} posts__categories-link--active {% endif %}">{{category.name}}</a>
                </li>
                {% endif %}
                {% endfor %}
                <li><a href="{% slugurl 'galerie' %}" class="posts__categories-category posts__categories-link posts__categories-link--gallery">Przejdź do galerii zdjęć</a></li>

            </ul>
        </div>
        <div class="posts__cards">
            {% for post in posts %}
            <div class="posts__main posts__main--secondary" data-aos="fade-up">
                <div class="img-wrapper">
                    {% if post.banner_image %}
                    {% image post.banner_image width-500 as img %}
                    <img src="{{img.url}}" alt="{{post.alt_attr}}" class="posts__main-img posts__main-img--secondary">
                    {% else %}
                    {% image post.image width-500 as img %}
                    <img src="{{img.url}}" alt="{{post.alt_attr}}" class="posts__main-img posts__main-img--secondary">
                    {% endif %}
                </div>
                <div class="posts__main-box posts__main-box--secondary">
                    <div class="posts__main-details">
                        <div class="posts__main-category posts__main-category--{{post.category.color}}">
                            {{post.category}}</div>
                        <p class="posts__main-details--date">{% if post.publish_date%} {{post.publish_date}} {% else %}
                            {{post.first_published_at | date }} {% endif %}</p>
                    </div>
                    <h2 class="posts__main-heading">{{post.title}}</h2>
                    <!-- {{post.main_text|richtext|truncatechars_html:250}}
            <a href="{% slugurl post.slug %}" class="posts__main-link posts__main-link--secondary">Czytaj więcej...</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {%include 'includes/pagination.html'%}
</main>

{%endblock content %}