{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block content %}
<main class="wrapper wrapper-md" id="main">
{%include 'includes/breadcrumb.html'%}
<section class="news">
 <h1 class="heading-primary mtb-3">{{self.title}}</h1>
{% if page.banner_image %}
<div class="news__bannerimg">
    {% image page.banner_image width-500 as img %}
    <img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ img.alt }}" />
</div>
{% endif %}
{{page.main_text|richtext}}




       {% for block in page.content %}
        {% if block.block_type == 'table' %}
        <div class="table">{% include_block block %}</div>
        {% elif block.block_type == 'docs' %}
        {% include_block block %}
        {% else %}
        <div class="block-{{ block.block_type }}">
            {% include_block block %}
        </div>
        {% endif %}
        {% endfor %}
</section>
</main>
{%endblock content %}