{% load wagtailcore_tags static %}
<div class="news__item">
    <button class="news__btn">
        {% comment %} <span class="news__btn-arrow"><svg class="icon circle-chevron-down" aria-hidden="true" focusable="false"> {% endcomment %}
  {% comment %} <use xlink:href="{% static 'img/sprite.svg#circle-chevron-down' %}"></use> {% endcomment %}
{% comment %} </svg></span> {% endcomment %}
        {% include_block value.title %}
    </button>
    <div class="news__info">
        <!-- <div class="news__info-box"> -->
        <div class="news__info-text">{% include_block value.content %}</div>
        {% comment %} {% include_block value.bound_blocks.table %} {% endcomment %}
        <!-- </div> -->
    </div>
</div>