{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags menu_tags %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}
{% block content %}

<header class="header" id="main">
    <img src="{% static '/img/emblem.svg' %}" class="header__emblem" alt="Godło Polski" width="50px" height="59px">
    <div class="header__text">

        <h1><span class="first-letter">P</span>ubliczna <span class="first-letter">S</span>zkoła
            <span class="first-letter">P</span>odstawowa <br>w&nbsp;Turawie
        </h1>
    </div>

</header>
<main class="main">
    <div class="header__links">
        <a href="{% slugurl 'galerie' %}" class="header__links-link"><img src="{% static '/img/camera.svg' %}" alt="" aria-hidden="true"> <span>Galerie zdjęć</span></a>
        <a href="https://adfs.eszkola.opolskie.pl/adfs/ls/?wa=wsignin1.0&wtrealm=https%3a%2f%2fcufs.eszkola.opolskie.pl%3a443%2fturawa%2fAccount%2fLogOn&wctx=rm%3d0%26id%3deSzkola%26ru%3d%252fturawa%252fFS%252fLS%253fwa%253dwsignin1.0%2526wtrealm%253dhttps%25253A%25252F%25252Fuonetplus.eszkola.opolskie.pl%25252Fturawa%25252FLoginEndpoint.aspx%2526wctx%253dhttps%25253A%25252F%25252Fuonetplus.eszkola.opolskie.pl%25252Fturawa%25252FLoginEndpoint.aspx&wct=2023-06-08T14%3a48%3a22Z" class="header__links-link"><img src="{% static '/img/logosz2.jpg' %}" alt="" aria-hidden="true"> Opolska eSzkoła</a>
        <a href="{% slugurl 'rekrutacja' %}" class="header__links-link"><img src="{% static '/img/calendar.svg' %}" alt="" aria-hidden="true"> Rekrutacja</a>
    </div>
    <div class="posts wrapper">
        <div class="posts__main posts__main--primary">
            {% image main_post.banner_image width-500 as img %}
            <img src="{{img.url}}" alt="{{main_post.alt_attr}}" class="posts__main-img posts__main-img--primary" width="{{img.width}}" height="{{img.height}}"
            decoding="async" loading="lazy">
            <div class="posts__main-box posts__main-box--primary">
                <div class="posts__main-details">
                    <div class="posts__main-category posts__main-category--{{main_post.category.color}}">{{main_post.category}}</div>
                    <p class="posts__main-details--date">{{main_post.publish_date|date}}</p>
                </div>
                <h2 class="posts__main-heading posts__main-heading--primary">{{main_post.title}}</h2>
                {{main_post.main_text|richtext|truncatewords_html:100}}
                <a href="{% slugurl main_post.slug %}" class="posts__main-link posts__main-link--primary">Czytaj więcej&nbsp;&raquo;</a>
            </div>
        </div>
    </div>
    <div class="events">
        <div class="wrapper">
            <h2 class="events__heading heading-secondary"> Nadchodzące wydarzenia</h2>
            <div class="events__timeline">
                <ul class="events__list">
                    {% for day, items in events.items %}
                    <li class="event-list event">
                        <div class="event__details">
                            <div class="event__details-date event-date bg-soft-warning">{{ day|date:"j E"}}</div>
                            {% for event in items %}
                            <div class="event__details-item">
                                {% if event.end_date %}
                                <p class="event__details-square event__details-date--end bg-soft-warning">do {{event.end_date|date:"j E"}}</p>
                                {% endif %}
                                {% if event.hour %}
                                <p class="event__details-square event__details-hour">{{event.hour}}</p>
                                {% endif %}
                                <p class="event__details-text">{{event.name}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="{%slugurl 'wydarzenia'%}" class="posts__linktoall"><span>Przejdź do wszystkich wydarzeń&nbsp;&raquo;</span></a>
        </div>
    </div>
    <div class="posts__box wrapper" id="news">
        <h2 class="posts__box-heading heading-secondary">Najnowsze wpisy</h2>
      <div class="posts__categories">
            <p class="posts__categories-category posts__categories-category--filter">Filtruj: </p>
            <ul class="posts__categories-list" id="categories-list">
                <li><a href="{% pageurl page%}#news" class="posts__categories-category posts__categories-link {% if not active_category %} posts__categories-link--active {% endif %}">Wszystkie kategorie</a>
                </li>
                {% for category in categories %}
                <li><a href="?category={{category.id}}#news" class="posts__categories-category posts__categories-link {% if category == active_category %} posts__categories-link--active {% endif %}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="posts__cards">
            {% for post in posts %}
            <div class="posts__main posts__main--secondary" data-aos="fade-up">
                <div class="img-wrapper">
                    {% if post.get_banner_image is not None %}
                     {% image post.get_banner_image.image width-500 as img %}
                     <img src="{{img.url}}" alt="{{post.get_banner_image.alt_attr}}" width="{{img.width}}" height="{{img.height}}"
                     class="posts__main-img posts__main-img--secondary" decoding="async" loading="lazy">
                    {% elif post.banner_image %}
                     {% image post.banner_image width-500 as img %}
                     <img src="{{img.url}}" alt="{{post.alt_attr}}" class="posts__main-img posts__main-img--secondary" width="{{img.width}}" height="{{img.height}}"
                     decoding="async" loading="lazy">
                     {% endif %}
                </div>
                <div class="posts__main-box posts__main-box--secondary">
                    <div class="posts__main-details">
                        <div class="posts__main-category posts__main-category--{{post.category.color}}">{{post.category}}</div>
                        <p class="posts__main-details--date">{% if post.publish_date %} {{post.publish_date}} {% else %} {{post.first_published_at | date }} {% endif %}</p>
                    </div>
                    <h3 class="posts__main-heading posts__main-heading--secondary">{{post.title}}
                    </h3>
                    {{post.main_text|richtext|truncatechars_html:250}}
                    {% if post.category.name == "Galeria" %}
                    <a href="{% slugurl post.slug %}" class="posts__main-link posts__main-link--secondary">Zobacz galerię &raquo;</a>
                    {% else %}
                    <a href="{% slugurl post.slug %}" class="posts__main-link posts__main-link--secondary">Czytaj więcej &raquo;</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% slugurl 'aktualnosci'%}" class="posts__linktoall"><span>Przejdź do wszystkich aktualności &raquo;</span></a>
    </div>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/posts_animation.min.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        once: true,
    });
</script>
{% endblock %}